__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/
pytorch_env/
.conda/

.ipynb_checkpoints/
.pytest_cache/

*.pth
*.pt
*.onnx

data/images/
data/oxford_pet_split/
data/train/
data/val/
data/*.csv

models/
static/uploads/*
!static/uploads/.gitkeep

courseware/~$*.docx

.DS_Store
Thumbs.db

outputs/
runs/
logs/
